# Exploratory Analysis of NUTS 2 GDP Values

In [1]:
# Import libraries
import pandas as pd
import numpy as np

In [16]:
# Import data
gdp_data = pd.read_csv("Data/nama_10r_2gdp/nama_10r_2gdp_1_Data.csv", encoding='ISO-8859-1')
gdp_data.columns = ['year','area','unit','value','comment']
gdp_data.sort_values(['value'], ascending = False).head(15)

      year                           area          unit value comment
690   2009               Pays-de-la-Loire  Million euro     :     NaN
2332  2012                        Drenthe  Million euro     :     NaN
2338  2012                        Utrecht  Million euro     :     NaN
2337  2012                 West-Nederland  Million euro     :     NaN
1850  2011                        Slaskie  Million euro     :     NaN
2336  2012                      Flevoland  Million euro     :     NaN
2335  2012                     Gelderland  Million euro     :     NaN
2334  2012                     Overijssel  Million euro     :     NaN
2333  2012                 Oost-Nederland  Million euro     :     NaN
1851  2011  Makroregion Pólnocno-Zachodni  Million euro     :     NaN
2331  2012                 Friesland (NL)  Million euro     :     NaN
2340  2012                   Zuid-Holland  Million euro     :     NaN
2330  2012                      Groningen  Million euro     :     NaN
2329  2012                Noord-Nederland  Million euro     :     NaN
1852  2011                  Wielkopolskie  Million euro     :     NaN

In [7]:
# Print unique comment values for filtering
print(gdp_data.comment.unique())

[nan 'e' 'p']

In [13]:
gdp_filtered = gdp_data[gdp_data['comment'].isnull()]