# Exploratory Analysis of NUTS 2 GDP Values

In [2]:
# Import libraries
import pandas as pd
import numpy as np

In [5]:
# Import gdp data
gdp_data = pd.read_excel("/Users/MaxBehrens/Documents/Msc/Thesis/Data/nuts2_gdp.xls",sheet_name='Data',skiprows=530,nrows=516)
gdp_data.head()

In [7]:
country_code = pd.read_csv("/Users/MaxBehrens/Documents/Msc/Thesis/Data/country_codes.csv", delimiter=";")
country_code.head()

In [8]:
gdp_long = pd.melt(gdp_data, id_vars=['GEO/TIME'],value_vars=['2008','2009','2010','2011','2012','2013','2014','2015','2016','2017'])
gdp_long.head()

In [9]:
gdp_long['countries'] = gdp_long['GEO/TIME'].str.extract('([^0-9]+)', expand=False).str.strip()
gdp_long.head()

In [10]:
gdp_nuts = gdp_long.merge(country_code,how = 'left' ,left_on = 'countries', right_on = 'Code')
gdp_nuts.head()

    GEO/TIME variable    value countries Code  Country
0       EU28     2008  26100.0        EU  NaN      NaN
1  EU27_2019     2008  25300.0        EU  NaN      NaN
2         BE     2008  33100.0        BE   BE  Belgium
3        BE1     2008  61100.0        BE   BE  Belgium
4       BE10     2008  61100.0        BE   BE  Belgium

In [11]:
gdp_cleaned = gdp_nuts[gdp_nuts['Country'].isnull() == False].drop(columns = ['countries'])
gdp_cleaned.columns = ['region','year','value','code','country']

In [12]:
# Number of missing values
gdp_cleaned.isna().sum()

region       0
year         0
value      338
code         0
country      0
dtype: int64

In [31]:
na_country = gdp_cleaned.value.isnull().groupby([gdp_cleaned['country']]).sum().reset_index()
na_country[na_country['value'] > 0].sort_values('value', ascending = False)

        country  value
24       Poland  150.0
21  Netherlands  119.0
27       Serbia   28.0
10       France   21.0
23       Norway    9.0
17    Lithuania    8.0
20   Montenegro    3.0

In [32]:
na_year = gdp_cleaned.value.isnull().groupby([gdp_cleaned['year']]).sum().reset_index()
na_year[na_year['value'] > 0].sort_values('value', ascending = False)

   year  value
0  2008   56.0
1  2009   56.0
2  2010   52.0
3  2011   52.0
4  2012   45.0
5  2013   45.0
6  2014   20.0
9  2017   12.0

In [0]:
na_stat = gdp_cleaned.value.isnull().groupby([gdp_cleaned['year'],gdp_cleaned['country']]).sum().reset_index()
na_stat[na_stat['value'] > 0].sort_values('value', ascending = False)