# Predict difference over time

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import json
import matplotlib.pyplot as plt

In [6]:
# Import gdp data
gdp_data_long = pd.read_excel("/Users/maxbehrens/Documents/Msc/Thesis/Data/gdp_data/nuts2_gdp.xls",sheet_name='Data',skiprows=530,nrows=516)
gdp_data_long.head()

,GEO/TIME,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,EU28,26100.0,24500.0,25500.0,26200.0,26600.0,26800.0,27700.0,29100.0,29300.0,30000.0
1,EU27_2019,25300.0,24100.0,24900.0,25600.0,25800.0,26000.0,26600.0,27500.0,28200.0,29200.0
2,BE,33100.0,32300.0,33500.0,34500.0,35000.0,35300.0,35800.0,36600.0,37600.0,38700.0
3,BE1,61100.0,60100.0,61300.0,62700.0,62700.0,62300.0,61700.0,63100.0,64200.0,65000.0
4,BE10,61100.0,60100.0,61300.0,62700.0,62700.0,62300.0,61700.0,63100.0,64200.0,65000.0

In [4]:
gdp_data = pd.read_csv("/Users/maxbehrens/Documents/Msc/Thesis/Data/gdp_data/enhanced_gdp_data.csv")
gdp_data.head()

  nuts2  year  nuts_value code  country  country_value    mean_value    ppp
0  BE10  2008     61100.0   BE  Belgium        33100.0  31881.818182  213.0
1  BE21  2008     39200.0   BE  Belgium        33100.0  31881.818182  137.0
2  BE22  2008     27500.0   BE  Belgium        33100.0  31881.818182   96.0
3  BE23  2008     29400.0   BE  Belgium        33100.0  31881.818182  102.0
4  BE24  2008     34500.0   BE  Belgium        33100.0  31881.818182  120.0

In [16]:
gdp_data_long = gdp_data_long.loc[(gdp_data_long['GEO/TIME'].isin(gdp_data['nuts2'])),['2014','2015','2016','2017','GEO/TIME']]
gdp_long = gdp_data_long.merge(gdp_data.loc[:,['nuts2','code','country']], how='left', left_on='GEO/TIME',right_on='nuts2').drop(columns=['GEO/TIME'])
gdp_long.head()

      2014     2015     2016     2017 nuts2 code  country
0  61700.0  63100.0  64200.0  65000.0  BE10   BE  Belgium
1  61700.0  63100.0  64200.0  65000.0  BE10   BE  Belgium
2  61700.0  63100.0  64200.0  65000.0  BE10   BE  Belgium
3  61700.0  63100.0  64200.0  65000.0  BE10   BE  Belgium
4  61700.0  63100.0  64200.0  65000.0  BE10   BE  Belgium

In [17]:
gdp_long['diff_1415'] = gdp_long['2015']-gdp_long['2014']
gdp_long['diff_1516'] = gdp_long['2016']-gdp_long['2015']
gdp_long['diff_1617'] = gdp_long['2017']-gdp_long['2016']
gdp_long = gdp_long.drop(columns=['2014','2015','2016','2017']).drop_duplicates()
gdp_long.head()

   nuts2 code  country  diff_1415  diff_1516  diff_1617
0   BE10   BE  Belgium     1400.0     1100.0      800.0
10  BE21   BE  Belgium     1100.0     1400.0     1800.0
20  BE22   BE  Belgium      200.0      800.0     1200.0
30  BE23   BE  Belgium     1100.0     1000.0     1100.0
40  BE24   BE  Belgium      900.0     1300.0      800.0

In [19]:
gdp_long.to_csv('/Users/maxbehrens/Documents/Msc/Thesis/Data/gdp_data/gdp_time_series.csv', index=False)